.ca_pay_section1 {
  background: #191919;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  //   align-items: center;

  .ca_pay_section1-cont {
    width: 328px;
    margin: 100px;
    gap: 9px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    > p {
      color: #bcbcbc;
    }
    > div:nth-of-type(2) {
      width: 100%;

      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        flex: 1;
        background: #ff3948;
        height: 4px;
        border-radius: 2px;
        &:nth-child(3) {
          background: #28282a;
        }
      }
    }
  }
  .ca_pay_section1-ico {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 6px;
  }
}

.radio-group {
  display: flex;
  gap: 10px;
  width: 100%;
}

.radio-item {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  border-radius: 5px;
  background-color: #28282a;
  label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    div {
      width: 23%;
    }
    p {
      font-weight: 500;
    }
  }
  label::before {
    content: '';
    position: absolute;
    right: 6px;
    top: 16px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  input[type='radio'] {
    display: none; /* Oculta el radio nativo */
  }
}

.radio-item-selected {
  background-color: #333;
  label::before {
    background-color: transparent; /* Color rojo cuando está seleccionado */
    //   border-color: red;
  }
  label::after {
    content: '';
    background-color: #ff3948; /* Color rojo cuando está seleccionado */
    width: 11px;
    height: 11px;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 11px;
  }
}

.form-pay-cont {
  > p {
    font-size: 8.5px;
    text-align: justify;
    letter-spacing: 0;
    color: #bcbcbc;
    font-family: Helvetica, Arial, sans-serif;
    span {
      color: #ff3948;
    }
  }
}

.form-pay-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 35px;
  > * {
    height: 100%;
    border: 1px solid #232325;
    border-radius: 10px;
  }
  div {
    width: 47px;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40%;
      border-radius: 2px;
    }
  }
  select {
    background-color: #101010;
    border: none;
    height: 100%;
    width: 65px;
    text-align: center;

    &:focus {
      outline: none; /* Elimina el borde de enfoque */
    }
  }
  input {
    width: auto;
  }
}

// ---------------------------------------------
.formPay {
  max-width: 500px;
}

.StripeElement {
  background-color: transparent !important;
  /* max-width: 500px; */
  padding: 0 0 20px 0;
}

#link-authentication-element {
  /* background-color: #0000ff !important; */
  padding-bottom: 0;
  border-radius: 5px 5px 0 0;
  padding-top: 20px;
}


// ---------------------------------------------

// !-------------car section 2

.ca_pay_section2 {
  background: #333;
  height: 100%;
  width: 100%;
}
